<div class="container">
  <div class="text-center">
    <h2>All our flats (<%= @flats.count %>)</h2>
    <div class="align-items-end mb-3" >
      <%= link_to "Add a new flat", new_flat_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="mb-3">
    <%= simple_form_for :search, url: flats_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" value="<%= params.dig(:search, :query) %>" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-sm-3">
      <div class="card p-3 mb-3" style="position: relative; height: 350px">
        <img class="card-img-top" src="https://media.istockphoto.com/id/611895696/photo/trendy-open-floor-plan-idea.jpg?s=612x612&w=0&k=20&c=-26a1zEi33oP_Gyv48WcTTyDKTPB8gmkP7yTH7Hiczs=" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=flat.name %></h5>
          <p class="card-text" ><%=flat.description %></p>
          <p style="position: absolute; bottom: 10px; left: 30px;"><%=link_to "More info", flat_path(flat), class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
      <% end %>
  </div>
</div>
